$dark: #161616;
$grey: #FEFFEA;
$white: #f5efef;
$light: #4A8FE7;
$theme: #DA627D;
$valid: rgba(16, 168, 16, 0.596);
$error: #ac575b;

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; 
}

.bg-active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.modal {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: .25rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label, .input-text {
      padding-bottom: .5rem;
    }
    
    .input-text, textarea {
      display: relative;
      width: 70%;
      border: 0;
      border-radius: .25rem;
      font-size: 1.1rem;
      color: rgba(0, 0, 0, .81);
      outline: 0;
      background: $light;
      transition: .25s ease-in-out;
      transition-property: background-color, box-shadow;

      &::placeholder {
        color: rgba($dark, .5);
        opacity: 1;
        transition: color .25s ease-in-out;
      }

      &:focus::placeholder {
        opacity: 1;
      }

      &:placeholder-shown {
        background-color: $grey;
      }

      &:not(:placeholder-shown), &:focus {
        background-color: $white;
      }

      &:not(:focus):not(:placeholder-shown):valid {
        box-shadow: inset 0 0 0 0.125rem $valid;
      }

      &:not(:focus):not(:placeholder-shown):invalid {
        box-shadow: inset 0 0 0 0.125rem $error;
      }

      &:placeholder-shown:invalid:not(:focus),
      &:placeholder-shown:valid:not(:focus),
      &:focus {
        box-shadow: inset 0 0 0 0.125rem $white;
      }
    }
  }
}

.modal-submit {
  padding: 10px 25px;
  background-color: #2980b9;
  color: snow;
  border-radius: .25rem;
  outline: 0;
  margin: 15px 0;
  cursor: pointer;
  &:hover {
    background-color: $theme;
  }  
}

.modal-close {
  top: 20px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  color: $theme;
  &:hover {
    color: $light;
  }  
}

@media (max-width: 42rem) {
  .modal {
    width: 81vw;
  }
}